<div class="fields">
<% @attrs.each do |att| -%>
  <div class="field">
    <%%= f.label :<%= att %> %>
    <%%= f.<%= attr_form_method(@kls, att) %> :<%= att %> %>
  </div>
<% end -%>
<% if @assoc == :has_many and options.javascript? -%>
  <%%= link_to_remove_fields "remove", f %>
<% end -%>
</div>
