%h1 <%= name.pluralize.underscore.gsub("_", " ") %>

%table
  %tr
<% attributes_worth_using_in_the_form.each do |att| -%>
    %th <%= att.humanize %>
<% end -%>
    %th{:colspan => "2"}

  - @<%= cls.to_s.pluralize.underscore %>.each do |<%= cls.to_s.underscore %>|
    %tr
<% attributes_worth_using_in_the_form.each do |att| -%>
      %td= <%= cls.to_s.underscore %>.<%= att %>
<% end -%>
      %td= link_to "Edit", edit_<%= cls.to_s.underscore %>_path(<%= cls.to_s.underscore %>), {:title => 'Edit <%= name %>'}
      %td= link_to "Delete", <%= cls.to_s.underscore %>, {:title => 'Remove <%= name %>'}, {:confirm => 'Are you sure?', :method => :delete}
